body {
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Gilroy";
  src:  url("../fonts/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:  url("../fonts/gilroylight.woff2") format("woff2"),
        url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-submenu,
.promo-item,
.services-item,
.modal-map,
.modal-feedback {
  display: none;
}

.slide-show {
  display: block;
}

.button {
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header.container {
  box-sizing: border-box;
  width: 1160px;
  padding: 21px 56px 50px 60px;
  background-color: rgba(240, 197, 46, 0.5);
}

.main-navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-header-logo {
  margin-right: auto;
  margin-bottom: 21px;
}

.main-header a,
.catalog-sections a,
.about-us a {
  color: #000000;
}

.user-navigation,
.search-field,
.catalog-submenu,
.section-description,
.main-footer .contact-info {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.search-form {
  position: relative;
  margin-right: 185px;
}

.search-field {
  box-sizing: border-box;
  width: 355px;
  padding-left: 38px;
  padding-bottom: 3px;
  letter-spacing: 0.01em;
  background-color: transparent;
  border: none;
}

.search-field:focus {
  padding-bottom: 1px;
  outline: none;
  border-bottom: 2px solid #000000;
}

.search-field::-webkit-input-placeholder {
  opacity: 0.3;
}

.search-field:-ms-input-placeholder {
  opacity: 0.3;
}

.search-field::-ms-input-placeholder {
  opacity: 0.3;
}

.search-field::placeholder {
  opacity: 0.3;
}

.search-field:hover::-webkit-input-placeholder,
.search-field:focus::-webkit-input-placeholder {
  opacity: 0.6;
}

.search-field:hover:-ms-input-placeholder,
.search-field:focus:-ms-input-placeholder {
  opacity: 0.6;
}

.search-field:hover::-ms-input-placeholder,
.search-field:focus::-ms-input-placeholder {
  opacity: 0.6;
}

.search-field:hover::placeholder,
.search-field:focus::placeholder {
  opacity: 0.6;
}

.search-button {
  position: absolute;
  top: -2px;
  right: -60px;
  display: none;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  background-color: transparent;
  border: 2px solid #000000;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-field:focus + .search-button {
  display: inline-block;
  vertical-align: top;
}

.user-authorization {
  width: 260px;
  margin-right: 27px;
}

.main-header .user-navigation-item:hover,
.main-header .user-navigation-item:focus,
.navigation-item a:hover,
.navigation-item a:focus {
  opacity: 0.6;
}

.main-header .user-navigation-item:active,
.navigation-item a:active {
  opacity: 0.3;
}

.login-link {
  padding-left: 27px;
}

.user-name {
  margin-right: 15px;
  padding-left: 27px;
}

.compare-link {
  margin-right: 41px;
  padding-left: 20px;
}

.cart-link {
  padding-left: 22px;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation-catalog {
  position: relative;
  margin-right: 321px;
}

.main-navigation-delivery {
  margin-right: 34px;
}

.main-navigation-warranty {
  margin-right: 108px;
}

.navigation-item:hover .catalog-submenu,
.navigation-item:focus .catalog-submenu {
  display: flex;
}

.navigation-item:focus-within .catalog-submenu {
  display: flex;
}

.catalog-submenu {
  flex-wrap: wrap;
  position: absolute;
  top: 24px;
  left: -60px;
  box-sizing: border-box;
  width: 1160px;
  padding: 23px 460px 32px 60px;
  line-height: 36px;
  background-color: #f7e296;
  list-style: none;
}

.catalog-submenu-item {
  width: 200px;
}

.catalog-submenu-item:nth-child(3n+1) {
  margin-right: 40px;
}

.catalog-submenu-item:last-child {
  margin-right: 200px;
}

.navigation-item > a {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.section-title {
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.promo-slider .section-title {
  line-height: 56px;
}

.section-description {
  color: #464646;
}

.parameter-values {
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.parameter-titles th {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
}

.catalog-sections-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-slider {
  background-color: #e5e5e5;
}

.slider-button,
.filter-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-button:active {
  color: #f7e184;
}

.about-us .section-description,
.contacts .section-description,
.modal-label {
  letter-spacing: normal;
}

.transport-companies-list {
  font-size: 16px;
  line-height: 40px;
  letter-spacing: normal;
}

.modal-field {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  background-color: rgba(242, 242, 242, 0.5);
  border: none;
}

.modal-field::-webkit-input-placeholder {
  opacity: 0.4;
}

.modal-field:-ms-input-placeholder {
  opacity: 0.4;
}

.modal-field::-ms-input-placeholder {
  opacity: 0.4;
}

.modal-field::placeholder {
  opacity: 0.4;
}

.modal-field:hover {
  background-color: rgba(234, 234, 234, 0.8);
}

.modal-field:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.modal-field:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.main-footer {
  color: #ffffff;
  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.main-footer .contact-info {
  letter-spacing: normal;
}

.footer-address {
  font-style: normal;
}

.main-header .logout-link {
  color: rgba(0, 0, 0, 0.3);
}

.page-title {
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.breadcrumbs {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-section-title {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.price-filter label,
.price-filter input {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.2);
}

.color-filter label,
.bluetooth-filter label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
}

.color-option-input:disabled + label,
.bluetooth-option-input:disabled + label {
  color: #a6a6a6;
}

.sorting-list {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: normal;
}

.sorting-list a {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-list a:active {
  color: rgba(0, 0, 0, 1);
}

.sorting-current a,
.sorting-current a:hover,
.sorting-current a:focus,
.sorting-current a:active {
  color: #000000;
}

.catalog-item-title {
  font-size: 18px;
  font-weight: 800;
}

.catalog-item-title a {
  color: #000000;
}

.catalog-item-price {
  font-size: 16px;
  font-weight: 300;
  color: #464646;
}

.catalog-item-compare {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-item-compare:hover,
.catalog-item-compare:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination {
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-back a,
.pagination-forward a {
  color: #000000;
}

.pagination-back a:hover,
.pagination-back a:focus,
.pagination-forward a:hover,
.pagination-forward a:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-back a:active,
.pagination-forward a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
}

.main-footer .user-navigation-item {
  color: rgba(255, 255, 255, 0.7);
}

.main-footer .user-navigation-item:hover,
.main-footer .user-navigation-item:focus {
  color: rgba(255, 255, 255, 1);
}

.main-footer .user-navigation-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer .logout-link {
  color: rgba(255, 255, 255, 0.3);
}