body {
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Gilroy";
  src:  url("../fonts/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:  url("../fonts/gilroylight.woff2") format("woff2"),
        url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-submenu,
.promo-item,
.services-item,
.modal-map,
.modal-feedback {
  display: none;
}

.modal-show {
  display: block;
}

.modal-animate {
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: 
      translate(-50%, -50%)
      scale(0.9);
            transform: 
      translate(-50%, -50%)
      scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: 
      translate(-50%, -50%)
      scale(1);
            transform: 
      translate(-50%, -50%)
      scale(1);
    opacity: 1;
  }
}

@keyframes show {
  0% {
    -webkit-transform: 
      translate(-50%, -50%)
      scale(0.9);
            transform: 
      translate(-50%, -50%)
      scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: 
      translate(-50%, -50%)
      scale(1);
            transform: 
      translate(-50%, -50%)
      scale(1);
    opacity: 1;
  }
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate(-49%, -50%);
            transform: translate(-49%, -50%);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate(-49%, -50%);
            transform: translate(-49%, -50%);
  }
}

.slide-show {
  display: flex;
}

.button {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 8px 20px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: height 0.5s;
}

.button:hover::before,
.button:focus::before {
  height: 100%;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  padding: 23px 56px 50px 60px;
  background-color: #f7e296;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff 40px, #f7e296 40px, #f7e296 100%);
}

.main-navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-header-logo {
  width: 163px;
  height: 40px;
  margin-right: auto;
  margin-bottom: 20px;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus,
.main-footer-logo[href]:hover,
.main-footer-logo[href]:focus {
  opacity: 0.6;
}

.main-header-logo[href]:active,
.main-footer-logo[href]:active {
  opacity: 0.3;
}

.main-header a,
.catalog-sections a,
.about-us a {
  color: #000000;
}

.user-navigation,
.search-field,
.catalog-submenu,
.section-description,
.main-footer .contact-info {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.main-header .user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 29px;
}

.search-form {
  position: relative;
  display: flex;
  margin-right: 185px;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 3px;
  z-index: 1;
  width: 16px;
  height: 16px;
  background: url("../img/search_icon.svg") 0 0 no-repeat;
}

.search-field {
  box-sizing: border-box;
  width: 355px;
  height: 40px;
  padding-left: 38px;
  padding-right: 20px;
  padding-bottom: 9px;
  letter-spacing: 0.01em;
  background-color: transparent;
  border: none;
}

.search-field:focus {
  padding-bottom: 7px;
  outline: none;
  border-bottom: 2px solid #000000;
}

.search-field::-webkit-input-placeholder {
  opacity: 0.3;
}

.search-field:-ms-input-placeholder {
  opacity: 0.3;
}

.search-field::-ms-input-placeholder {
  opacity: 0.3;
}

.search-field::placeholder {
  opacity: 0.3;
}

.search-field:hover::-webkit-input-placeholder,
.search-field:focus::-webkit-input-placeholder {
  opacity: 0.6;
}

.search-field:hover:-ms-input-placeholder,
.search-field:focus:-ms-input-placeholder {
  opacity: 0.6;
}

.search-field:hover::-ms-input-placeholder,
.search-field:focus::-ms-input-placeholder {
  opacity: 0.6;
}

.search-field:hover::placeholder,
.search-field:focus::placeholder {
  opacity: 0.6;
}

.search-field:-webkit-autofill,
.search-field:-webkit-autofill:hover, 
.search-field:-webkit-autofill:focus {
  background-color: transparent !important; /* переопределяет цвет фона строки поиска при выборе из списка раннее введённых поисковых запросов в браузере Google Chrome */
  border-bottom: 2px solid #000000;
  padding-bottom: 7px;
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.search-button {
  position: absolute;
  left: 355px;
  bottom: 0;
  display: none;
  box-sizing: border-box;
  min-width: 85px;
  max-width: 145px;
  height: 49px;
  padding: 0;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  background-color: transparent;
  border: 2px solid #000000;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-field:focus + .search-button {
  display: inline-block;
  vertical-align: top;
}

.search-form:focus-within .search-button {
  display: inline-block;
  vertical-align: top;
}

.search-form:focus-within .search-field {
  padding-bottom: 7px;
  border-bottom: 2px solid #000000;
}

.main-header .user-authorization {
  width: 260px;
  margin-right: 27px;
}

.user-navigation-item {
  position: relative;
}

.user-navigation-item::before {
  content: "";
  position: absolute;
  left: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-header .user-navigation-item:hover,
.main-header .user-navigation-item:focus,
.navigation-item a:hover,
.navigation-item a:focus {
  opacity: 0.6;
}

.main-header .user-navigation-item:active,
.navigation-item a:active {
  opacity: 0.3;
}

.login-link {
  padding-left: 27px;
}

.login-link::before {
  top: 4px;
  width: 13px;
  height: 12px;
}

.main-header .login-link::before {
  background-image: url("../img/user_icon_header.svg");
}

.main-footer .login-link::before {
  background-image: url("../img/user_icon_footer.svg");
}

.user-name {
  display: inline-flex;
  box-sizing: border-box;
  width: 160px;
  margin-right: 13px;
  padding-left: 27px;
}

.user-name::before {
  top: 9px;
  width: 13px;
  height: 12px;
}

.main-header .user-name::before {
  background-image: url("../img/user_icon_header.svg");
}

.main-footer .user-name::before {
  background-image: url("../img/user_icon_footer.svg");
}

.compare-link {
  margin-right: 41px;
  padding-left: 20px;
}

.compare-link::before {
  top: 11px;
  width: 10px;
  height: 10px;
}

.main-header .compare-link::before {
  background-image: url("../img/compare_icon_header.svg");
}

.main-footer .compare-link::before {
  background-image: url("../img/compare_icon_footer.svg");
}

.cart-link {
  padding-left: 22px;
}

.cart-link::before {
  top: 9px;
  width: 12px;
  height: 12px;
}

.main-header .cart-link::before {
  background-image: url("../img/cart_icon_header.svg");
}

.main-footer .cart-link::before {
  background-image: url("../img/cart_icon_footer.svg");
}

.main-navigation-list,
.catalog-sections-list,
.brands-list,
.footer-navigation-list,
.footer-social-list,
.breadcrumbs,
.sorting-list,
.sorting-direction,
.catalog-list,
.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation-catalog {
  position: relative;
  width: 222px;
  margin-right: 318px;
}

.main-navigation-catalog::before,
.main-navigation-catalog::after {
  content: "";
  position: absolute;
  top: 11px;
  right: -24px;
  width: 16px;
  height: 2px;
  background-color: rgba(39, 37, 37, 0.3);
  cursor: pointer;
}

.main-navigation-catalog::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-navigation-delivery {
  width: 124px;
  margin-right: 34px;
}

.main-navigation-warranty {
  width: 115px;
  margin-right: 108px;
}

.main-navigation-contacts {
  width: 123px;
}

.main-navigation-catalog:hover .catalog-submenu,
.main-navigation-catalog:focus .catalog-submenu {
  display: flex;
}

.main-navigation-catalog:focus-within .catalog-submenu {
  display: flex;
}

.catalog-submenu {
  flex-wrap: wrap;
  position: absolute;
  top: 24px;
  left: -60px;
  z-index: 1;
  box-sizing: border-box;
  width: 1160px;
  padding: 23px 460px 32px 60px;
  line-height: 36px;
  background-color: #f7e296;
  list-style: none;
}

.catalog-submenu-item {
  width: 200px;
}

.catalog-submenu-item:nth-child(3n+1) {
  margin-right: 40px;
}

.catalog-submenu-item:last-child {
  margin-right: 200px;
}

.navigation-item > a {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.promo-slider {
  position: relative;
  min-height: 500px;
  margin-bottom: 94px;
  background-image: linear-gradient(to bottom, #f7e296, #f7e296 113px, #ffffff 113px, #ffffff 100%);
  background-clip: content-box;
}

.promo-list {
  margin: 0;
  padding: 0;
}

.promo-item {
  position: relative;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.promo-item::before {
  position: absolute;
  top: -12px;
  right: 47px;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.slide-selfie-stick::before {
  content: "01";
}

.slide-fitness-tracker::before {
  content: "02";
}

.slide-quadcopter::before {
  content: "03";
}

.slide-selfie-stick .promo-image {
  margin-right: 126px;
  padding-top: 2px;
}

.slide-fitness-tracker .promo-image {
  margin-right: 139px;
  padding-top: 14px;
}

.slide-quadcopter .promo-image {
  margin-right: 43px;
  padding-top: 67px;
}

.promo-item-details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  padding-top: 82px;
  padding-right: 60px;
}

.promo-item-details::before {
  content: "";
  position: absolute;
  top: 39px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.section-title {
  margin: 0;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.promo-slider .section-title {
  margin-bottom: 19px;
  line-height: 56px;
}

.slide-quadcopter .section-title {
  width: 510px;
}

.promo-item-details .section-description {
  order: 1;
  margin-bottom: 43px;
}

.promo-item-details .button {
  order: 2;
  min-width: 220px;
  max-width: 260px;
  margin-bottom: 47px;
}

.promo-item-parameters {
  order: 3;
}

.section-description {
  margin: 0;
  color: #464646;
}

.slide-selfie-stick .section-description {
  width: 485px;
}

.slide-fitness-tracker .section-description,
.slide-quadcopter .section-description {
  width: 460px;
}

.promo-item-parameters td,
.promo-item-parameters th {
  padding: 0;
}

.parameter-values {
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.parameter-values td:first-child {
  width: 156px;
}

.parameter-values td:nth-child(2) {
  width: 137px;
}

.parameter-titles th {
  padding-top: 6px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
  text-align: left;
}

.promo-slider-controllers {
  position: absolute;
  right: 103px;
  bottom: 159px;
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
  margin: 0;
  padding: 0;
  line-height: 12px;
  list-style: none;
}

.promo-switch-item:not(:last-child) {
  margin-right: 21px;
}

.switch-button {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.switch-button-current {
  box-shadow: 
    inset 0 0 0 2px #ffffff,
    inset 0 0 0 3px #000000;
}

.catalog-sections {
  margin-bottom: 45px;
}

.catalog-sections-item {
  position: relative;
  width: 160px;
  margin-right: 40px;
  margin-bottom: 35px;
  padding-top: 194px;
}

.section-fitness-tracker {
  width: 161px;
  margin-right: 39px;
}

.catalog-sections-item:nth-child(6n) {
  margin-right: 0;
}

.catalog-section-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
}

.catalog-section-link::after {
  content: "";
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.catalog-section-link:hover::before,
.catalog-section-link:focus::before {
  background-color: rgba(240, 197, 46, 1);
}

.catalog-section-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-section-link:active::after {
  opacity: 0.3;
}

.section-vr .catalog-section-link::after {
  top: 52px;
  left: 31px;
  width: 97px;
  height: 55px;
  background-image: url("../img/vr_icon.svg");
}

.section-monopod .catalog-section-link::after {
  top: 43px;
  left: 38px;
  width: 86px;
  height: 117px;
  background-image: url("../img/monopod_icon.svg");
}

.section-action-cam .catalog-section-link::after {
  top: 38px;
  left: 49px;
  width: 71px;
  height: 87px;
  background-image: url("../img/action_cam_icon.svg");
}

.section-fitness-tracker .catalog-section-link::after {
  top: 50px;
  left: 28px;
  width: 107px;
  height: 65px;
  background-image: url("../img/fitness_tracker_icon.svg");
}

.section-smartwatch .catalog-section-link::after {
  top: 32px;
  left: 55px;
  width: 56px;
  height: 98px;
  background-image: url("../img/smartwatch_icon.svg");
}

.section-quadcopter .catalog-section-link::after {
  top: 49px;
  left: 13px;
  width: 132px;
  height: 69px;
  background-image: url("../img/quadcopter_icon.svg");
}

.services-slider {
  margin-bottom: 94px;
  padding-bottom: 69px;
  background-color: #e5e5e5;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff 100px, #e5e5e5 100px, #e5e5e5 100%);
}

.services-slider .container {
  display: flex;
  align-items: flex-start;
}

.services-slider-controllers,
.services-list,
.transport-companies-list,
.color-list,
.bluetooth-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-slider-controllers {
  box-sizing: border-box;
  width: 284px;
  padding-top: 80px;
  padding-bottom: 70px;
  border-right: 7px solid #000000;
}

.services-switch-item:not(:last-child) {
  margin-bottom: 25px;
}

.slider-button,
.filter-button,
.modal-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-button {
  min-width: 160px;
}

.slider-button:active,
.slider-button-current {
  color: #f7e184;
}

.slider-button:active::before,
.slider-button-current::before {
  display: none;
}

.slider-button:active::after,
.slider-button-current::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 277px;
  height: 100%;
  background-color: #000000;
}

.slider-button span {
  position: relative;
  top: 0;
  left: 0;
}

.services-item {
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  width: 876px;
  padding: 74px 324px 0 117px;
}

.services-slider .section-title {
  margin-bottom: 31px;
}

.services-item::after {
  content: "";
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slide-delivery::after {
  top: 85px;
  right: 66px;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
}

.slide-warranty::after {
  top: 61px;
  right: 46px;
  width: 171px;
  height: 195px;
  background-image: url("../img/warranty.svg");
}

.slide-credit::after {
  top: 61px;
  right: 70px;
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
}

.brands {
  margin-bottom: 92px;
}

.brands-item {
  margin-right: 40px;
}

.brands-item:nth-child(4n) {
  margin-right: 0;
}

.brand-link {
  display: block;
  width: 260px;
  height: 100px;
}

.brand-link-dji {
  background: url("../img/dji_logo_bw.png") 0 0 no-repeat;
}

.brand-link-spgadgets {
  background: url("../img/sp_gadgets_logo_bw.png") 0 0 no-repeat;
}

.brand-link-gopro {
  background: url("../img/gopro_logo_bw.png") 0 0 no-repeat;
}

.brand-link-vive {
  background: url("../img/vive_logo_bw.png") 0 0 no-repeat;
}

.brand-logo {
  opacity: 0;
}

.brand-link:hover .brand-logo,
.brand-link:focus .brand-logo {
  opacity: 1;
}

.halves-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.half-width-section {
  position: relative;
  box-sizing: border-box;
  width: 560px;
  margin-bottom: 81px;
  padding-top: 53px;
}

.half-width-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us {
  padding-right: 85px;
}

.half-width-section .section-title {
  margin-bottom: 43px;
}

.half-width-section .section-description {
  margin-bottom: 30px;
  letter-spacing: normal;
}

.transport-companies-list {
  margin-bottom: 55px;
  padding-top: 35px;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: normal;
}

.transport-companies-item {
  position: relative;
  padding-left: 35px;
}

.transport-companies-item::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 1px;
  width: 4px;
  height: 4px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.half-width-section .button {
  min-width: 260px;
}

.map-link {
  display: block;
  margin-bottom: 64px;
  padding-top: 8px;
}

.modal-map,
.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  box-sizing: border-box;
  width: 960px;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.modal-map {
  height: 559px;
}

.embed-map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: none;
}

.modal-feedback {
  padding: 94px 100px 77px 100px;
  background-color: #ffffff;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-addresser {
  width: 360px;
  margin: 0;
  margin-bottom: 33px;
}

.modal-label {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 7px;
  letter-spacing: normal;
}

.modal-label[for="modal-message-field"] {
  width: 100%;
}

.modal-field {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  background-color: rgba(242, 242, 242, 0.5);
  border: none;
}

.modal-addresser .modal-field {
  height: 50px;
}

textarea.modal-field {
  min-height: 156px;
  max-height: 50vh;
  margin-bottom: 41px;
  resize: vertical;
}

.modal-field::-webkit-input-placeholder {
  opacity: 0.4;
}

.modal-field:-ms-input-placeholder {
  opacity: 0.4;
}

.modal-field::-ms-input-placeholder {
  opacity: 0.4;
}

.modal-field::placeholder {
  opacity: 0.4;
}

.modal-field:hover {
  background-color: rgba(234, 234, 234, 0.8);
}

.modal-field:focus {
  padding: 12px 17px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(240, 197, 46, 0.5);
  outline: none;
}

.modal-field:invalid {
  padding: 15px 20px;
  background-color: rgba(237, 181, 181, 0.5);
  border: none;
}

.modal-button {
  min-width: 200px;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 2;
  width: 55px;
  height: 55px;
  background-color: #f0c52e;
  border: none;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.modal-close::before {
  -webkit-transform: 
    translate(-50%, -50%)
    rotate(45deg);
          transform: 
    translate(-50%, -50%)
    rotate(45deg);
}

.modal-close::after {
  -webkit-transform: 
    translate(-50%, -50%)
    rotate(-45deg);
          transform: 
    translate(-50%, -50%)
    rotate(-45deg);
}

.main-footer {
  padding-top: 65px;
  padding-bottom: 66px;
  color: #ffffff;
  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}

.main-footer-logo {
  margin-right: 200px;
}

.main-footer .user-navigation {
  display: flex;
  flex-wrap: wrap;
}

.main-footer .user-authorization {
  margin-right: 43px;
}

.main-footer .compare-link {
  margin-right: 40px;
}

.footer-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 62px;
}

.main-footer .contact-info {
  width: 260px;
  letter-spacing: normal;
}

.footer-address {
  font-style: normal;
}

.footer-navigation-list {
  box-sizing: border-box;
  width: 444px;
  padding-top: 6px;
  padding-left: 9px;
}

.footer-navigation-list .navigation-item:not(:nth-child(3n)) {
  margin-right: 34px;
}

.footer-phone-number {
  margin: 0;
  text-align: right;
}

.footer-bottom {
  position: relative;
  display: flex;
  padding-left: 360px;
}

.footer-bottom::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-social-list {
  justify-content: center;
  width: 440px;
  margin-right: auto;
  padding-top: 2px;
}

.footer-social-item:not(:last-child) {
  margin-right: 23px;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.social-facebook {
  background: url("../img/fb_logo.svg") 0 0 no-repeat;
}

.social-instagram {
  background: url("../img/instagram_logo.svg") 0 0 no-repeat;
}

.social-twitter {
  background: url("../img/twitter_logo.svg") 0 0 no-repeat;
}

.footer-copyright:hover,
.footer-copyright:focus {
  opacity: 0.6;
}

.footer-copyright:active {
  opacity: 0.3;
}

.inner-page .main-header {
  margin-bottom: 38px;
}

.main-header .logout-link {
  color: rgba(0, 0, 0, 0.3);
}

.page-title {
  margin: 0;
  margin-bottom: 23px;
  padding-left: 59px;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.breadcrumbs {
  margin-bottom: 47px;
  padding-left: 59px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item {
  position: relative;
  margin-right: 37px;
}

.breadcrumbs-item a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -20px;
  width: 4px;
  height: 7px;
  background: url("../img/breadcrumbs_arrow.svg") 0 0 no-repeat;
}

.catalog-background {
  position: relative;
}

.catalog-background::before,
.catalog-background::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.catalog-background::before {
  left: 0;
  right: 50%;
  background-color: #efefef;
  background-image: linear-gradient(to bottom, #dbdbdb, #dbdbdb 70px,#efefef 70px, #efefef 100%);
}

.catalog-background::after {
  left: 50%;
  right: 0;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #ebebeb, #ebebeb 70px,#ffffff 70px, #ffffff 100%);
}

.catalog-background .container {
  display: flex;
}

.filter {
  box-sizing: border-box;
  width: 328px;
  padding: 22px 68px 77px 60px;
  background-color: #efefef;
  background-image: linear-gradient(to bottom, #dbdbdb, #dbdbdb 70px,#efefef 70px, #efefef 100%);
}

.content-column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 832px;
  padding-bottom: 77px;
  background-color: #ffffff;
}

.catalog-section-title {
  margin: 0;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter .catalog-section-title {
  margin-bottom: 104px;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form .price-filter {
  margin-bottom: 46px;
}

.price-range {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
}

.price-range-scale {
  width: 100%;
  height: 2px;
  background-color: #dbdbdb;
}

.price-range-bar {
  width: 110px;
  height: 100%;
  background-color: #91c92f;
}

.min-price,
.max-price {
  position: absolute;
  top: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 70px;
}

.min-price {
  left: -5px;
}

.max-price {
  right: 41px;
}

.price-range-toggle {
  width: 20px;
  height: 23px;
  border: none;
  background: url("../img/range_toggle.svg") 0 0 no-repeat;
  cursor: pointer;
}

.price-range-toggle:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.toggle-min {
  margin-right: 50px;
}

.toggle-max {
  margin-left: 18px;
  margin-right: 32px;
}

.price-filter label {
  margin-right: 4px;
}

.min-price label {
  padding-left: 4px;
}

.price-filter input {
  width: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.price-filter label,
.price-filter input {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.2);
}

.filter-form .color-filter {
  margin-bottom: 44px;
}

.filter-form .bluetooth-filter {
  margin-bottom: 30px;
}

.filter-title {
  position: relative;
}

.filter-title::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 201px;
  height: 2px;
  background-color: #000000;
}

.color-filter .filter-title,
.bluetooth-filter .filter-title {
  margin-bottom: 18px;
}

.color-option,
.bluetooth-option {
  position: relative;
  padding-left: 38px;
}

.color-option label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox_off.svg") 0 0 no-repeat;
}

.color-option-input:active + label::before,
.color-option-input:checked + label::before {
  background-image: url("../img/checkbox_on.svg");
}

.color-option-input:checked:active + label::before {
  background-image: url("../img/checkbox_off.svg");
}

.bluetooth-option label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: 4px solid #000000;
  border-radius: 50%;
}

.bluetooth-option-input:active + label::after,
.bluetooth-option-input:checked + label::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 6px;
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 50%;
}

.bluetooth-option-input:checked:active + label::after {
  display: none;
}

.color-filter label,
.bluetooth-filter label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  cursor: pointer;
}

.color-option-input:hover + label::before,
.color-option-input:focus + label::before,
.bluetooth-option-input:hover + label::before,
.bluetooth-option-input:focus + label::before,
.bluetooth-option-input:hover + label::after,
.bluetooth-option-input:focus + label::after {
  opacity: 0.6;
}

.color-option-input:active + label::before,
.bluetooth-option-input:active + label::before,
.bluetooth-option-input:active + label::after {
  opacity: 1;
}

.color-option-input:disabled + label,
.bluetooth-option-input:disabled + label {
  color: #a6a6a6;
  cursor: default;
}

.color-option-input:disabled + label::before,
.bluetooth-option-input:disabled + label::before,
.bluetooth-option-input:disabled + label::after {
  opacity: 0.25;
}

.filter-button {
  width: 100%;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 57px;
  padding: 22px 0 24px 72px;
  background-color: #ebebeb;
}

.sorting .catalog-section-title {
  margin-right: 56px;
}

.sorting-list {
  width: 460px;
  padding-top: 2px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: normal;
}

.sorting-option {
  margin-right: 29px;
}

.sorting-list a {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-list a:active {
  color: rgba(0, 0, 0, 1);
}

.sorting-current a,
.sorting-current a:hover,
.sorting-current a:focus,
.sorting-current a:active {
  color: #000000;
}

.sorting-direction {
  margin-left: auto;
  padding-top: 8px;
}

.sorting-direction a {
  display: block;
  width: 11px;
  height: 10px;
  background: url("../img/sorting_arrow.svg") 0 0 no-repeat;
  opacity: 0.2;
}

.sorting-direction a:hover,
.sorting-direction a:focus {
  opacity: 0.4;
}

.sorting-direction a:active,
.sorting-direction-current a,
.sorting-direction-current a:hover,
.sorting-direction-current a:focus {
  opacity: 1;
}

.sorting-ascending {
  margin-right: 19px;
}

.sorting-ascending a {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.catalog {
  padding-left: 72px;
}

.catalog-list {
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  width: 360px;
  margin-bottom: 35px;
  padding-top: 11px;
}

.catalog-item-title {
  order: 1;
  width: 260px;
  margin: 0;
  font-size: 18px;
  font-weight: 800;
}

.catalog-item-title a {
  color: #000000;
}

.catalog-item-price {
  order: 2;
  width: 80px;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  color: #464646;
  text-align: right;
}

.catalog-item-button {
  position: absolute;
  top: 184px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  min-width: 200px;
}

.catalog-item-compare {
  position: absolute;
  top: 238px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  display: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  display: none;
  width: 100%;
  height: 380px;
  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item:hover .catalog-item-button,
.catalog-item:focus .catalog-item-button,
.catalog-item:hover .catalog-item-compare,
.catalog-item:focus .catalog-item-compare,
.catalog-item:hover::before,
.catalog-item:focus::before {
  display: block;
}

.catalog-item:focus-within .catalog-item-button,
.catalog-item:focus-within .catalog-item-compare,
.catalog-item:focus-within::before {
  display: block;
}

.catalog-item-compare:hover,
.catalog-item-compare:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item-image {
  margin-bottom: 32px;
}

.catalog-item-new::after {
  content: "New";
  position: absolute;
  top: 40px;
  right: 27px;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 16px 13px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.pagination {
  position: relative;
  justify-content: center;
  margin-left: 72px;
  padding: 24px 160px 22px 160px;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.pagination-forward {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.pagination-back a,
.pagination-forward a {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  padding: 23px 30px;
  color: #000000;
}

.pagination-back a:hover,
.pagination-back a:focus,
.pagination-forward a:hover,
.pagination-forward a:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-back a:active,
.pagination-forward a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item:not(:nth-last-child(2)) {
  margin-right: 26px;
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
}

.main-footer .user-navigation-item {
  color: rgba(255, 255, 255, 0.7);
}

.main-footer .user-navigation-item:hover,
.main-footer .user-navigation-item:focus {
  color: rgba(255, 255, 255, 1);
}

.main-footer .user-navigation-item:hover::before,
.main-footer .user-navigation-item:focus::before {
  opacity: 0.6;
}

.main-footer .user-navigation-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer .user-navigation-item:active::before {
  opacity: 0.3;
}

.main-footer .logout-link {
  color: rgba(255, 255, 255, 0.3);
}